* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
}

h1 {
    font-family: 'Chilanka';
    font-size: 50px;
    color: whitesmoke;
}

p {
    font-family: 'Chilanka';
    font-size: 30px;
    color: whitesmoke;
}

nav {
    font-family: 'Chilanka';
}

.error {
    background-image: url('/app/static/images/40f.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.post {
    text-align: center;
    font-size: 150%;
    font-family: Courgette;
    border: 0.5px solid black;
    border-radius: 10px;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.4);
}

h3 {
    color: antiquewhite;
    font-family: 'Chilanka';
    margin-left: 20px;
}

.row {
    background-color: aquamarine;
}
